---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Brands from "@components/home/Brands.astro";
import WhoAmI from "@components/home/WhoAmI.astro";
---

<Layout>
	<main class="xl:container xl:mx-auto pt-24 px-8 md:px-32">
		<Hero />
		<WhoAmI />
		<Brands />
	</main>
</Layout>
