---
import iag from "@assets/logos/iag.svg";
import nrma from "@assets/logos/nrma.svg";
import firstrescue from "@assets/logos/firstrescue.svg";
import cipherstash from "@assets/logos/cipherstash.svg";
import bluedot from "@assets/logos/bluedot.svg";

const logos = [
  [iag, "81"],
  [nrma, "91"],
  [firstrescue, "273"],
  [cipherstash, "221"],
  [bluedot, "204"],
];
const alt = (path: string) =>
  path.replace(/.*\//, "").replace(/\..*/, "") + " logo";
---

<div>
  <hr />
  <div class="flex flex-wrap my-8 justify-between">
    {
      logos.map(([logo, width]) => (
        <img
          src={logo}
          alt={alt(logo)}
          width={width}
          height="64"
          class="icon p-3 my-4 mx-auto"
        />
      ))
    }
  </div>
  <hr />
</div>
