---
import iag from "@assets/logos/iag.svg";
import nrma from "@assets/logos/nrma.svg";
import firstrescue from "@assets/logos/firstrescue.svg";
import cipherstash from "@assets/logos/cipherstash.svg";
import bluedot from "@assets/logos/bluedot.svg";

const logos = [iag, nrma, firstrescue, cipherstash, bluedot];
const alt = (path: string) =>
  path.replace(/.*\//, "").replace(/\..*/, "") + " logo";
---

<div>
  <hr />
  <div class="flex flex-wrap my-8 justify-between">
    {
      logos.map((logo) => (
        <img
          src={logo}
          alt={alt(logo)}
          height="64"
          class="icon p-3 my-4 mx-auto"
        />
      ))
    }
  </div>
  <hr />
</div>
