---
import Icon from "@components/common/Icon.astro";
import iag from "@assets/logos/iag.svg";
import nrma from "@assets/logos/nrma.svg";
import firstrescue from "@assets/logos/firstrescue.svg";
import cipherstash from "@assets/logos/cipherstash.svg";
import bluedot from "@assets/logos/bluedot.svg";

const logos = [iag, nrma, firstrescue, cipherstash, bluedot];
---

<div>
  <hr />
  <div
    class="flex flex-wrap my-12 [&>img]:h-16 [&>img]:p-3 [&>img]:mx-auto justify-between"
  >
    {logos.map((logo) => <Icon src={logo} />)}
  </div>
  <hr />
</div>
