---
import { Image } from "@astrojs/image/components";
import iag from "@assets/logos/iag.svg";
import nrma from "@assets/logos/nrma.svg";
import firstrescue from "@assets/logos/firstrescue.svg";
import cipherstash from "@assets/logos/cipherstash.svg";
import bluedot from "@assets/logos/bluedot.svg";

const logos: Array<[ImageMetadata, string, number, string]> = [
  [iag, "IAG logo", 81, "https://www.iag.com.au/"],
  [nrma, "NRMA Logo", 91, "https://www.nrma.com.au/"],
  [firstrescue, "First Rescue Logo", 273, "https://www.firstrescue.co.nz/"],
  [cipherstash, "CipherStash Logo", 221, "https://www.cipherstash.com/"],
  [bluedot, "Bluedot Logo", 204, "https://www.bluedot.io/"],
];
---

<div class="min-h-full flex items-center justify-center w-full">
  <div class="w-full">
    <div class="text-center mb-[50px]">
      <h2>Brands I've helped</h2>
    </div>
    <div class="flex flex-wrap justify-between">
      {
        logos.map(([logo, alt, width, link]) => (
          <a href={link} target="_blank" class="my-4 mx-auto">
            <Image
              src={logo}
              alt={alt}
              width={width}
              height={64}
              class="icon p-3"
              format="svg"
            />
          </a>
        ))
      }
    </div>
  </div>
</div>
