@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-emoji-yellow: rgb(255 203 76);
    --color-text-selector: 0, 123, 255;
    --selector-size: 24px;
  }

  @font-face {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/fonts/epilogue-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url("/fonts/epilogue-600.woff2") format("woff2");
  }

  @font-face {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("/fonts/epilogue-700.woff2") format("woff2");
  }

  @font-face {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 800;
    font-display: block;
    src: url("/fonts/epilogue-800.woff2") format("woff2");
  }

  html {
    scroll-behavior: smooth;
    height: 100%;
    @apply text-lg;
  }

  body {
    height: 100%;
  }

  h1 {
    @apply text-[64px] md:text-[80px] leading-[90px] font-semibold;
  }

  h2 {
    @apply text-[48px] leading-[80px] font-semibold;
  }

  hr {
    border-width: 1.5px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
  }

  a {
    position: relative;
  }
}

@layer components {
  .clip-hero {
    width: 550px;
    background-color: var(--color-emoji-yellow);
    clip-path: circle(50%);
    position: relative;
  }

  .clip-hero:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .animated-a::before {
    @apply inset-[-12px_0_-13px_0] md:inset-[-4px_0_-5px_0];
    background: var(--color-emoji-yellow);
    content: "";
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }

  .animated-a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

  /* Waving animation courtesy of https://codepen.io/jakejarvis/pen/pBZWZw */
  .wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
  /* End of waving animation */

  /* Text selection effect */
  .selection-tool {
    background-color: rgba(var(--color-text-selector), 0.3);
    position: relative;
    display: inline-block;
    transition: background-color 0.5s ease-in-out;
  }

  .selection-tool::before,
  .selection-tool::after {
    content: "";
    pointer-events: none;
    position: absolute;
    background-color: rgba(var(--color-text-selector), 0.5);
    width: var(--selector-size);
    height: var(--selector-size);
    bottom: calc(var(--selector-size) * -1);
    z-index: 1;
  }

  .selection-tool::before {
    left: calc(var(--selector-size) * -1);
    border-radius: 50% 0 50% 50%;
  }

  .selection-tool::after {
    right: calc(var(--selector-size) * -1);
    border-radius: 0 50% 50% 50%;
  }

  .selection-tool:hover {
    background-color: transparent;
    transition-duration: 0.2s;
  }
  /* End of text selection effect */
}

@layer utilities {
  .title {
    @apply text-[28px] leading-[42px] font-semibold;
  }

  .icon {
    filter: invert(14%) sepia(0%) saturate(956%) hue-rotate(224deg)
      brightness(98%) contrast(90%);
    transition: filter 0.2s;
  }

  .icon:hover {
    filter: invert(77%) sepia(41%) saturate(682%) hue-rotate(347deg)
      brightness(104%) contrast(101%);
    transition: filter 0.2s ease-in-out;
  }
}
