@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/fonts/epilogue-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url("/fonts/epilogue-600.woff2") format("woff2");
  }

  @font-face {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("/fonts/epilogue-700.woff2") format("woff2");
  }

  @font-face {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 800;
    font-display: block;
    src: url("/fonts/epilogue-800.woff2") format("woff2");
  }

  html {
    @apply text-lg;
  }

  h1 {
    @apply text-[64px] md:text-[80px] leading-[90px] font-semibold;
  }

  hr {
    border-width: 1.5px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
  }

  a {
    position: relative;
  }
}

@layer components {
  .icon {
    filter: invert(14%) sepia(0%) saturate(956%) hue-rotate(224deg)
      brightness(98%) contrast(90%);
    transition: filter 0.2s;
  }

  .icon:hover {
    filter: invert(77%) sepia(41%) saturate(682%) hue-rotate(347deg)
      brightness(104%) contrast(101%);
    transition: filter 0.2s ease-in-out;
  }

  .title {
    @apply text-[28px] leading-[42px] font-semibold;
  }

  .animated-a::before {
    background: #ffcb4c;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }

  .animated-a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

  /* Courtesy of https://codepen.io/jakejarvis/pen/pBZWZw */
  .wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
}
